<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/613892614aeefcecf1bba73e5289766d?family=ReklameScriptW00-Bold" rel="stylesheet" type="text/css"/>

    <script src="https://kit.fontawesome.com/752c6ea0dd.js" crossorigin="anonymous"></script>
    <link href="http://fonts.cdnfonts.com/css/reklame-script" rel="stylesheet">
    <title>NANABAN RAMEN</title>
    <nav class="navbar navbar-light bg-white">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img src="/img/kitchen_logo2.PNG" alt="nanaban-logo" class="img-responsive"/>
                </a>
                <div class="container">
                    <p style="position: absolute; left: 43%; top: 20px; letter-spacing: 1px; font-size: 4vh; font-family: 'ReklameScriptW00-Bold', sans-serif; font-weight: bold;"> <%=page_indicate%> </p>
                </div>
                
            </div> 
        </div>
    </nav>

<body class="bg">