<!DOCTYPE html>
<html lang="en">
<body>
    <%- include('partials/header')%>
    
    <div class="container">
        <div>
            <img src="/img/customer_logo_big.PNG" class="center"/>
        </div>
        <div class="btn-center">
            <a href="select-table"><button class="home-button">SELECT TABLE</button></a>
        </div>
        
    </div>
    
   
    <%- include('partials/footer')%>
</body>
</html>