<!DOCTYPE html>
<html lang="en">
<body>
    <%- include('partials/kitchen-header')%>
    
    <div class="container">
        <div class="login-box">
            <h1 style="text-align:center; padding: 50px; font-size: 3rem; font-family: 'ReklameScriptW00-Bold', sans-serif; font-weight: bold;">LOGIN</h1>
            <form>
                <p>Username *</p>
                <input type="text" placeholder="Username">
                <p>Password *</p>
                <input type="password" placeholder="Password">
                <a href="kitchen-table"><input type="button" name="" value="log In"></a>
            </form>
        </div>
    </div>

    <%- include('partials/footer')%>
</body>
</html>